
:root {
    --bleu-fonce : #001489;
    --bleu-claire : #D9E7F5;
    --rouge-perso : #C5150C;
    --jaune-or : #DBA111;
    --font-title1 : 'Kumar One', serif;
    --font-text : 'Inter', sans-serif; 
}

#topic-list{
    padding: 30px 0;

}

#topic-list h2{
    border-radius: 20px;
    border: 2px solid var(--jaune-or);
}
h2 a {
    color: var(--bleu-claire);
}

/* Styling Categories list*/

/*La bulle Categorie*/

.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid var(--jaune-or);
    border-radius: 40px;
    background-color: var(--bleu-fonce);
    color: var(--bleu-claire);
    width: 80%;
    margin: 15px auto;
}

/*In category left*/

.topic-left {
   display: flex;
   gap: 20px;
   align-items: center;
}
.icon-topic img {
    border-radius: 30px;
}

.topic-title{
    margin-bottom: 15px;
}
.topic-title a {
    color: var(--jaune-or);
    font-size: 1.5rem;
}
.topic-title a:hover {
    text-decoration: underline;
}

.postedBy a {
    font-weight: 600;
    color: var(--bleu-claire);
}

/*In category right*/

.topic-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*nbTopics indice*/

.nbPosts {
    display: block;
    color: var(--bleu-claire);
    text-align: center;
}

.nbPosts::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/msg.svg) center center / cover no-repeat;
}

.edit {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/edit.svg) center center / cover no-repeat;
}

.delete {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/delete.svg) center center / cover no-repeat;
}
.open {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/padlock-open.svg) center center / cover no-repeat;
}
.closed {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/padlock-closed.svg) center center / cover no-repeat;
}

/* Style de base pour le bouton */
.add-topic {
    display: block;
    width: fit-content;
    margin: 10px auto;
}
.add-topic button {
    background-color: #001489;
    color: #D9E7F5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Animation au survol du bouton */
  .add-topic button:hover {
    background-color: #D9E7F5;
    color: #001489;
    transform: scale(1.05); /* Augmente légèrement la taille au survol */
  }
  